<!doctype html>
<html lang="en" ng-app="papier" data-framework="angularjs">
<head>
	<meta charset="utf-8">
	<title>Papier</title>
	<link rel="stylesheet" href="./css/base.css">
	<style>[ng-cloak] { display: none; }</style>
</head>

<body>

	<section id="todoapp" ng-controller="TodoCtrl">

		<header id="header">
			<h1>Papier</h1>
			<form id="todo-form" ng-submit="addTodo()">
				<input id="new-todo" placeholder="What do you know?" ng-model="newTodo" autofocus type="text">
			</form>
		</header>

		<section id="main" ng-show="todos.length" ng-cloak>
			<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list">
				<li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
					<div class="view">
						<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todoCompleted(todo)">
						<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
						<button class="destroy" ng-click="removeTodo(todo)"></button>
					</div>
					<form ng-submit="doneEditing(todo)">
						<input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="doneEditing(todo)" todo-escape="revertEditing(todo)" todo-focus="todo == editedTodo">
					</form>
				</li>
			</ul>
		</section>

		<footer id="footer" ng-show="todos.length" ng-cloak>
			<span id="todo-count"><strong>{{remainingCount}}</strong>
				active <ng-pluralize count="remainingCount" when="{ one: 'item', other: 'items' }"></ng-pluralize>
			</span>
			<ul id="filters">
				<li><a ng-class="{selected: location.path() == '/'} " href="#/">All</a></li>
				<li><a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a></li>
				<li><a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a></li>
			</ul>
			<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="remainingCount < todos.length">Clear completed ({{todos.length - remainingCount}})</button>
		</footer>

	</section>

	<script src="./bower_components/todo-common/base.js"></script>
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./js/app.js"></script>
	<script src="./js/controllers/todoCtrl.js"></script>
	<script src="./js/services/todoStorage.js"></script>
	<script src="./js/directives/todoFocus.js"></script>
	<script src="./js/directives/todoEscape.js"></script>

</body>
</html>

